<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Pet</title>
</head>

<body>
    <div id="pet">
        <img src="Self-taught_Prodigy.png" alt="Pet">
    </div>
    <br>
    <button id="feedBtn" onclick="petFeed(pet1)">Feed</button>
    <button id="playBtn" onclick="petPlay(pet1)">Play</button>
    <div id="hungerStat"></div>
    <div id="happinessStat"></div>
    <div id="actionLog">
        <br>
        <p>ACTION LOG</p>
        <br>
    </div>
</body>
<script>
    console.log(pet1, petFeed, petPlay, petHunger);
    console.log('I HATE CONSOLE LOGGING')
    let hungerStat = document.getElementById("hungerStat");
    let happinessStat = document.getElementById("happinessStat");
    let actLog = document.getElementById("actionLog");
    hungerStat.innerHTML = "<p>Hunger: " + pet1.hunger + "</p>";
    happinessStat.innerHTML = "<p>Happiness: " + pet1.happiness + "</p>";

    const db = new sqlite3.Database("data/database.db", (err) => {
        if (err) {
            console.error("Failed to connect to the database: ", err);
            process.exit(1); //exit the process
        };
    });

</script>
</html>