<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet</title>
</head>
<body>
    <div class="pet">Pet</div>
    <br>
    <button id="feedBtn" onclick="petFeed">Feed</button>
</body>
<script>
     function petFeed() {
        console.log("your pet has been fed.")
     };
</script>
</html>