<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Pet</title>
</head>

<body>
    <div class="pet">Pet</div>
    <br>
    <button id="foodBtn" onkeypress="getFood()">Get Food</button>
    <br>
    <a href="/inventory">Inventory</a>
    <div id="actionLog">
        <br>
        <p>ACTION LOG</p>
        <br>
    </div>
</body>
<script>
    var actLog = document.getElementById("actionLog");
    function getFood() {
        player.inventory.push({
            name: "apple",
            type: "food"
        });
    };
</script>

</html>